
<p style="color: green"><%= notice %></p>

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-10 mx-auto border-b-2 border-gray-200 mb-10">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Employees</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Welcome to our Ruby on Rails Employee Management Application! This app provides a powerful yet user-friendly solution for managing employee records.</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">

        <div class="p-2 w-full">
          <button class="flex mx-auto">
<%= link_to "Add Employee", new_employee_path, class: "flex mx-auto text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="employees" class="container mx-auto justify-center flex gap-10 flex-wrap">
  <% @employees.each do |employee| %>
    <%= render employee %>
  <% end %>
</div>

